<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ name }}'watchlist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <h3>
        <img src="{{ url_for('static',filename='img/p2.jpg') }}" alt="头像" class="avatar">
        {% for i in user %}
            {{ i.name }}
        {% endfor %}
    </h3>
    

    <nav>
        <ul>
            <li><a href="">首页</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    
    <footer>
        <small>&copy;2020&nbsp;&nbsp;&nbsp; <a href="">1903c</a></small>
    </footer>
</body>
</html>